@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');


body {
    font-family: Inter, Arial, sans-serif;
}

nav {
    display : flex;
    justify-items: space-between;
    align-items: center;
}

nav ul {
    display : flex;
    gap : 1.5rem;
    margin-left : auto;
    list-style-type: none;
}

.container {
    max-width: 1000px;
    margin-inline : auto;
    padding : 1rem;
}

label {
    display : block;
}

.back {
    margin-bottom : 1rem;
}

.post {
    margin-bottom : 2rem;
    padding : 1rem;
    border : 1px solid #eee;
    border-radius: 0.5rem;
}

.post-info {
    margin-bottom : 2rem;
}

.edit-delete {
    margin-block : 1rem;
    padding : 1rem;
    background-color : #eee;
}

textarea {
    resize: none;
    width : 100%;
    max-width : 600px;
    height : 300px;
}

.edit-add-title {
    width : 100%;
    max-width : 600px;
}
